@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* border: 2px solid red; */
  block-size: border-box;
  margin: 0;
  padding: 0;
}

.background-block {
  background-color: #f0f4f8;
  padding: 20px;
  min-height: 100vh;
}
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f4f8; /* Full page background color */
}

.my-app {
  min-height: 100vh;
  background-color: #f0f4f8; /* Light background for the app */
}

/* For Responsive  */

/* Add this CSS to your stylesheet or a CSS-in-JS solution */

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-container .ant-card {
  flex: 1;
  max-width: 240px;
}

/* Responsive styles */
@media (max-width: 1200px) {
  /* iPad landscape or similar */
  .card-container .ant-card {
    max-width: 220px;
  }
}
@media (max-width: 576px) {
  /* iPad landscape or similar */
  .sectionStyle1 {
    display: none;
  }
}

@media (max-width: 992px) {
  /* iPad portrait or similar */
  .card-container .ant-card {
    max-width: 180px;
  }
}

@media (max-width: 768px) {
  /* Phones in landscape */
  .card-container .ant-card {
    max-width: 150px;
  }
}

@media (max-width: 576px) {
  /* Phones in portrait */
  .card-container {
    flex-direction: column;
    align-items: center;
  }

  .card-container .ant-card {
    max-width: 100%;
  }
}
